[Unit]
Description=Assignment 10 service
After=network.target

[Service]
ExecStart=/home/badger/dan_it_devops5_homeworks/homework5/src/assignment10.sh
Restatrt=always
User=root
Group=nogroup

[Install]
WantedBy=multi-user.target
